<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Space</title>

  <!-- font from google -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
  <!-- bootstrap css -->

  <link rel=stylesheet type="text/css" href="/css/bootstrap.min.css">
  <link rel=stylesheet type="text/css" href="/css/games.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/peer.js"></script>
  <!-- bootstrap javascript -->
  <script src="/js/bootstrap.min.js"></script>


</head>


<body>

<script>

  //var peer = new Peer([''], {host: 'peerjserver.herokuapp.com', port: 443, secure: true, debug: 3});
  //var peer = new Peer([''], {key: '9zqr9jbhn0mmfgvi', debug: 3});
  var peer = new Peer(['<%= my_id %>'], {host: 'meette.me', port: 7000, path: '/api',secure: true, debug: 3});
  var dest_peer_id = '<%= destinated_id %>';
  var call_answer;
  var call_setup = false;
  var dest_want_to_play = false;   //想要再玩一次
  var i_want_to_play = false;


  peer.on('open', function(id) {

    console.log('My peer ID is: ' + id);

  });

  if(<%= host %>)
  {

    var conn = peer.connect(dest_peer_id);

    conn.on('open', function () {

        if(<%= game_mode %> == 0)
        {
          drawSomething(conn);
          conn.send({initial_inform: peer.id});
        }

    });




    $.ajax({
      type: 'POST',
      url: '/games/search',
      data: {
        dest_peer_id: dest_peer_id
      },
      success: function (msg) {
        //give me my topic
        if(msg.gender == 'male')
          document.getElementById('gender_pic').src = '/img/male.png';
        else
          document.getElementById('gender_pic').src = '/img/female.png';

        document.getElementById('dest_name').innerHTML = msg.name;
        document.getElementById('dest_age').innerHTML = msg.age + "歲";

      },
      error:function(xhr, ajaxOptions, thrownError){
        alert("clear "+xhr.status);
        alert("clear "+thrownError);
      }
    });

    /*
     conn.on('data', function(data) {
     //console.log('Received', data);
     });
     */

    $(document).ready(function(){
      $("#send_data").off().click(function () {
        conn.send({message: document.getElementById("data").value});
      });

      $("#want_to_call").off().click(function () {

        conn.send({ask: "call"});
        if(call_answer == true) {   //確認對方也想要才能接通
          call_to_dest();
          $(this).hide();
        }
        else {
          $(this).button('loading');
          $(this).prop("disable",true);
        }

      });

      $("#want_to_play").off().click(function () {

        conn.send({ask: "play_again"});

        if(dest_want_to_play == true) {   //確認對方也想要才能在下一局
          $(this).hide();
          drawSomething(conn);

        }
        else {
          $(this).button('loading');
          $(this).prop("disable",true);
          i_want_to_play = true;
        }
      });


    });


    //check if the destinate peer close the session
    setTimeout(function () {
      setInterval(function () {
        if(conn.open == false)
        {
          peer.destroy();
        }
      },3000);
    },8000);

  }

  peer.on('connection', function(conn) {

    dest_peer_id = conn.peer;


    if(<%= game_mode %> == 0)
    {
      drawSomething(conn);
    }
    //else game_menu


    /*
     conn.on('data', function(data) {
     setUpInfoForConnection(data);
     //console.log('Received', data);
     });
     */
    $(document).ready(function() {
      $("#send_data").off().click(function () {
        conn.send({message: document.getElementById("data").value});
      });

      $("#want_to_call").off().click(function () {

        conn.send({ask: "call"});

        if(call_answer == true) { //確認對方也想要才能接通
          call_to_dest();
          $(this).hide();
        }
        else {
          $(this).button('loading');
          $(this).prop("disable",true);
        }
      });

      $("#want_to_play").off().click(function () {

        conn.send({ask: "play_again"});

        if(dest_want_to_play == true) {   //確認對方也想要才能在下一局
          dest_want_to_play = false;
          $(this).hide();
          drawSomething(conn);
        }
        else {
          $(this).button('loading');
          $(this).prop("disable",true);
          i_want_to_play = true;
        }
      });

    });

    //check if the destinate peer close the session then clear own user data by peer.destroy
    setTimeout(function () {
      setInterval(function () {
        if(conn.open == false)
        {
          peer.destroy();
        }
      },3000);
    },8000);

  });

</script>

<script src="/js/peer_client_games.js"> </script>

<script>

$(document).ready(function () {
  $('#my_guess').hide();
  $('#draw_answer_submit').hide();
  $('#my_guess_topic').hide();
  $('#peers_draw_topic').hide();
  $('#want_to_call').hide();
  $('#want_to_play').hide();
});


function drawSomething(conn){


  dest_want_to_play = false;
  i_want_to_play = false;
  $('#my_guess').hide();
  $('#draw_answer_submit').hide();
  $('#my_guess_topic').hide();
  $('#peers_draw_topic').hide();
  $('#peers_guess').hide();
  $('#want_to_call').hide();
  $('#want_to_play').hide();
  document.getElementById('my_guess').value = "";
  $('#want_to_call').button('reset');
  $("#want_to_call").prop("disable",false);
  $('#want_to_play').button('reset');
  $("#want_to_play").prop("disable",false);


  var my_draw_topic;
  var peers_draw_topic = " ";


  $.ajax({
    type: 'POST',
    url: '/games/getDrawTopic',
    data: {
    },
    success: function (msg) {
      //give me my topic
      my_draw_topic = msg;
      document.getElementById('my_draw_topic').innerHTML = "我的題目是： " + msg;
    },
    error:function(xhr, ajaxOptions, thrownError){
      alert("clear "+xhr.status);
      alert("clear "+thrownError);
    }
  });

  var time_secs = 60;
  var times = setInterval(function () {
    $('#left_time').show();
    document.getElementById('left_time').innerHTML = "剩下時間： " + time_secs;
    time_secs--;
  },1000);


  //after 60secs give destinate the answer to check
  var clear_time = setTimeout(function () {
      window.clearInterval(times);
      $('#left_time').hide();
      time_secs = 60;

      //停止作畫
      context.fillStyle='rgba(225,225,225,0.5)';
      context.fillRect(0, 0, context.canvas.width, context.canvas.height);
      peersContext.fillStyle='rgba(225,225,225,0.5)';
      peersContext.fillRect(0, 0, peersContext.canvas.width, peersContext.canvas.height);

      //context = 0;
      //peersContext = 0;
      gameStop = true;
      conn.send({game_answer: my_draw_topic});
      $('#my_guess').show();
      $('#draw_answer_submit').show();


  },61000);

  //if answer has been submit
  $('#draw_answer_submit').off().click(function () {

      if(peers_draw_topic != " ")
      {
        conn.send({my_answer: document.getElementById('my_guess').value});

        if(document.getElementById('my_guess').value == peers_draw_topic)
        {
          document.getElementById('peers_draw_topic').innerHTML = "答對了";
          $('#peers_draw_topic').show();
        }
        else
        {
          document.getElementById('peers_draw_topic').innerHTML = "不是歐<br>答案是：" + peers_draw_topic;
          $('#peers_draw_topic').show();
        }

        $('#my_guess').hide();
        $('#draw_answer_submit').hide();
      }

    if(call_setup == false)
      $('#want_to_call').show();

    $('#want_to_play').show();

    window.clearTimeout(clear_time);
  });


  /*
  // function to get an element's exact position
  function GetScreenCordinates(obj) {
    var p = {};
    p.x = obj.offsetLeft;
    p.y = obj.offsetTop;
    while (obj.offsetParent) {
      p.x = p.x + obj.offsetParent.offsetLeft;
      p.y = p.y + obj.offsetParent.offsetTop;
      if (obj == document.getElementsByTagName("body")[0]) {
        break;
      }
      else {
        obj = obj.offsetParent;
      }
    }
    return p;
  }

*/
  var gameStop = false;
  var isDrawing = false;
  var drawingArea = document.getElementById('drawingArea');
  drawingArea.width = parseInt(window.getComputedStyle(drawingArea,null).getPropertyValue("width"));
  drawingArea.height = parseInt(window.getComputedStyle(drawingArea,null).getPropertyValue("height"));
  var context = drawingArea.getContext("2d");
  //context = drawingArea.getContext("2d");

  //context.canvas.width = window.getComputedStyle(drawingArea,null).getPropertyValue("width");
  //context.canvas.height = window.getComputedStyle(drawingArea,null).getPropertyValue("height");
  //var edgeArea = document.getElementById('game_outside_div');


  //recorded the mouser data
  var clickX = new Array();
  var clickY = new Array();
  var clickDrag = new Array();

  //color recorded
  var colorPurple = "#d835a1";
  var colorGreen = "#659b41";
  var colorYellow = "#ffcf33";
  var colorBrown = "#986928";
  var curColor = colorPurple;
  var clickColor = new Array();

  $('#Purple_color').off().click(function () {
    curColor = colorPurple;
  });

  $('#Green_color').off().click(function () {
    curColor = colorGreen;
  });

  $('#Yello_color').off().click(function () {
    curColor = colorYellow;
  });

  $('#Brown_color').off().click(function () {
    curColor = colorBrown;
  });

  $('#eraser').off().click(function () {
    curColor = "white";
  });

  $('#clear_draw').off().click(function () {
    clickX.length = 0;
    clickY.length = 0;
    clickDrag.length = 0;
    clickColor.length = 0;
    redraw();
    conn.send({clear_draw: true});
  });

  $('#drawingArea').mousedown(function(e){

    isDrawing = true;
    addClick(e.pageX - this.offsetLeft , e.pageY -this.offsetTop , false);
    redraw();
  }).mousemove(function(e){
    if(isDrawing){
      addClick(e.pageX - this.offsetLeft  , e.pageY - this.offsetTop , true);
      redraw();
    }
  }).mouseup(function(e){
    isDrawing = false;
  }).mouseleave(function(e){
    isDrawing = false;
  });



  function addClick(x, y, dragging)
  {
    clickX.push(x);
    clickY.push(y);
    clickDrag.push(dragging);
    clickColor.push(curColor);

    //send to destination
    conn.send({clickX: x, clickY: y, clickDrag: dragging, curColor: curColor});
  }

  function redraw(){

      if(gameStop == false)
      {
        context.clearRect(0, 0, context.canvas.width, context.canvas.height); // Clears the canvas

        context.lineJoin = "round";
        context.lineWidth = 5;

        for(var i=0; i < clickX.length; i++) {
          context.beginPath();
          if(clickDrag[i] && i){
            context.moveTo(clickX[i-1], clickY[i-1]);
          }else{
            context.moveTo(clickX[i]-1, clickY[i]);
          }
          context.lineTo(clickX[i], clickY[i]);
          context.closePath();
          context.strokeStyle = clickColor[i];
          if(context.strokeStyle == "#ffffff")
            context.lineWidth = 20;
          else
            context.lineWidth = 5;
          context.stroke();
        }
      }

  }



  //peers convas picture
  var peersArea = document.getElementById('destinationArea');
  peersArea.width = parseInt(window.getComputedStyle(peersArea,null).getPropertyValue("width"));
  peersArea.height = parseInt(window.getComputedStyle(peersArea,null).getPropertyValue("height"));
  var peersContext = peersArea.getContext("2d");
  //peersContext = peersArea.getContext("2d");
  //peersContext.canvas.width = window.getComputedStyle(peersArea,null).getPropertyValue("width");
  //peersContext.canvas.height = window.getComputedStyle(peersArea,null).getPropertyValue("height");

  //recorded the mouser data
  var peersClickX = new Array();
  var peersClickY = new Array();
  var peersClickDrag = new Array();

  //peers color recored
  var peersClickColor = new Array();

  function peersRedraw(){

    if(gameStop == false)
    {
      peersContext.clearRect(0, 0, peersContext.canvas.width, peersContext.canvas.height); // Clears the canvas

      peersContext.lineJoin = "round";
      peersContext.lineWidth = 5;

      for(var i=0; i < peersClickX.length; i++) {

        peersContext.beginPath();
        if(peersClickDrag[i] && i){
          peersContext.moveTo(peersClickX[i-1], peersClickY[i-1]);
        }else{
          peersContext.moveTo(peersClickX[i]-1, peersClickY[i]);
        }
        peersContext.lineTo(peersClickX[i], peersClickY[i]);
        peersContext.closePath();
        peersContext.strokeStyle = peersClickColor[i];
        if(peersContext.strokeStyle == "#ffffff")
          peersContext.lineWidth = 20;
        else
          peersContext.lineWidth = 5;
        peersContext.stroke();
      }
    }

  }


  //dataTransfer
  conn.on('data', function (data) {

    if (data.message) {
      console.log(data.message);
    } else if (data.clickX && data.clickY) {
      peersClickX.push(data.clickX);
      peersClickY.push(data.clickY);
      peersClickDrag.push(data.clickDrag);
      peersClickColor.push(data.curColor);
      peersRedraw();
    } else if(data.clear_draw){
      if(data.clear_draw == true)
      {
        peersClickX.length = 0;
        peersClickY.length = 0;
        peersClickDrag.length = 0;
        peersClickColor.length = 0;
        peersRedraw();
      }
    } else if(data.game_answer) {
      peers_draw_topic = data.game_answer;
    } else if(data.my_answer) {
      $('#peers_guess').show();
      document.getElementById('peers_guess').innerHTML = "他的猜測是：" + data.my_answer;

    } else if(data.initial_inform) {
      //非host端收取destina_id 資料
      dest_peer_id = data.initial_inform;
      $.ajax({
        type: 'POST',
        url: '/games/search',
        data: {
          dest_peer_id: dest_peer_id
        },
        success: function (msg) {
          //give me my topic
          if(msg.gender == 'male')
            document.getElementById('gender_pic').src = '/img/male.png';
          else
            document.getElementById('gender_pic').src = '/img/female.png';

          document.getElementById('dest_name').innerHTML = msg.name;
          document.getElementById('dest_age').innerHTML = msg.age + "歲";

        },
        error:function(xhr, ajaxOptions, thrownError){
          alert("clear "+xhr.status);
          alert("clear "+thrownError);
        }
      });
    } else if(data.ask) {
        if(data.ask == "call")
        {
          call_answer = true;
          //$("#want_to_call").prop("disable",true);
        }
        else if(data.ask == "play_again")
        {
            if(i_want_to_play == true)
                drawSomething(conn);
            else
                dest_want_to_play = true;
        }

    }



  });

  peer.on('close', function() {

    $.ajax({
      type: 'POST',
      url: '/games/clear',
      data: {
        my_peer_id: '<%= my_id %>'
      },
      success: function (msg) {
        //post to index page and redirect and hold to be connect at index page
        console.log("clear back msg " + msg);
        document.getElementById("name").value = msg.name;
        document.getElementById("age").value = msg.age;
        document.getElementById("hobbies").value = msg.hobbies;
        document.getElementById("gender").value = msg.gender;
        document.getElementById("sexual").value = msg.sexual;
        $("#move_back_form").submit();
      },
      error:function(xhr, ajaxOptions, thrownError){
        //alert("clear "+xhr.status);
        //alert("clear "+thrownError);
      }
    });

  });
  /*
  peer.on('error', function(err) {
    alert("error");

  });

  */

}

</script>

<!-- the form is for send data to index page -->
<form id = "move_back_form" action='/' method="POST">
  <input type="hidden" id="name" name="name" type="text" >
  <input type="hidden" id="age" name="age" type="text" >
  <input type="hidden" id="hobbies" name="hobbies" type="text" >
  <input type="hidden" id="gender" name="gender" type="text" >
  <input type="hidden" id="sexual" name="sexual" type="text" >
</form>




  <canvas id="circle"  width=600px height= 450px ></canvas>
  <script>
    var canvas2 = document.getElementById('circle');
    var context2 = canvas2.getContext('2d');
    var imageObj = new Image();

    imageObj.onload = function() {
      context2.drawImage(imageObj,-150,-280,700,700);
    };
    imageObj.src = '/img/circle.png';


  </script>

  <div class="information_div">

    <p id="logo">meette</p>
    <p id="logo2">with your destiny</p>


    <div class="game_interated_div">

      <p id="left_time" name="left_time"> </p>
      <p id="my_draw_topic" name="my_draw_topic"> </p>

      <p id="my_guess_topic" name="my_guess_topic">他畫的是：</p>
      <input id="my_guess" name="my_guess" type="text">
      <button class="spec_button" id="draw_answer_submit" name="draw_answer_submit"> 送出猜測 </button>

      <p id="peers_draw_topic" name="peers_draw_topic"> </p>
      <p id="peers_guess" name="peers_guess"> </p>

      <button class="spec_button space_menu" id="want_to_call" name="want_to_call" data-loading-text="等待回應"> 打給他 </button>
      <button class="spec_button" id="want_to_play" name="want_to_leave" data-loading-text="等待回應"> 再玩一局 </button>

    </div>


    <div class="dest_div">

      <img id="gender_pic" class="gender_pic" src='/img/male.png' >
      <p class="profile_name" id="dest_name"> </p>
      <p class="profile_age" id="dest_age"> </p>
      <button class="spec_button" id="leave_room" name="leave_room">Leave</button>

      <audio id="peer_call" name="peer_call" controls=""> </audio>


    </div>

  </div>











  <img id="top_dots" src="/img/top_dots.png" >


<canvas id="drawingArea" name="drawingArea" width="835px" height="285px"> </canvas>
<canvas id="destinationArea" name="destinationArea" width="835px" height="285px" > </canvas>


  <div class="game_outside_div">
    <div class="game_div">

      <div id="drawsomething_div" class="drawSomething">

        <button class="paint_button purple" id="Purple_color" name="Purple_color"> Purple </button>
        <button class="paint_button green" id="Green_color" name="Green_color"> Green </button>
        <button class="paint_button yello" id="Yello_color" name="Yello_color"> Yello </button>
        <button class="paint_button brown" id="Brown_color" name="Brown_color"> Brown </button>
        <button class="paint_button eraser" id="eraser" name="eraser"> Eraser </button>
        <button class="paint_button " id="clear_draw" name="clear_draw"> Clear </button>






      </div>


    </div>
  </div>















</body>
</html>
