<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title><%= title %></title>
  <link rel=stylesheet type="text/css" href="/css/css_style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/peer.js"></script>

</head>


<body>

<script>
  var peer = new Peer({host: 'meette.me', port: 7000, path: '/api',secure: true, debug: 3});
  //var peer = new Peer({key: '9zqr9jbhn0mmfgvi' ,debug: 3});
  //choose game
  var game_menu;
  var db_unique_id = " ";

  peer.on('open', function(id) {
    console.log('My peer ID is: ' + id);
  });


  function pair(game_menu) {

    //find someone to pair
    $.ajax({
      type: 'POST',
      url: '/search',
      data: {
        age: document.getElementById("age").value,
        gender: document.getElementById("sexual").value,
        sexual: document.getElementById("gender").value,
        game_mode: game_menu
      },
      success: function (msg) {
        get_result_from_pair(msg);
      },
      error:function(xhr, ajaxOptions, thrownError){
        alert("search "+xhr.status);
        alert("search "+thrownError);
      }
    });

  }

  function get_result_from_pair(msg){
    //if pair redirect to games otherwise wait in the database

    var dest_peer_id = msg;

    if(dest_peer_id != "-1")
    {
      //this connect is for notify dest_peer to redirect to game page
      var conn = peer.connect(dest_peer_id);

      //create host itself to database w/ on_connect: true
      $.ajax({
        type: 'POST',
        url: '/register',
        data: {
          peer_id: peer.id,
          name: document.getElementById("name").value,
          age: document.getElementById("age").value,
          hobbies: document.getElementById("hobbies").value,
          gender: document.getElementById("gender").value,
          sexual: document.getElementById("sexual").value,
          on_connect: true,
          game_mode: game_menu
        }, success: function(msg) {
          console.log(msg);
          //alert("unique_id "+msg);
          db_unique_id = msg;

        }, error:function(xhr, ajaxOptions, thrownError){
          alert("register1 "+xhr.status);
          alert("register1 "+thrownError);
        }, complete: function (jqXHR, textStatus) {
          //post to games page and redirect
          document.getElementById("my_id").value = peer.id;
          document.getElementById("destinated_id").value = dest_peer_id;
          document.getElementById("host").value = true;
          $("#connect_form").submit();
        }
      });

    }
    else
    {
      //create host itself to database w/ on_connect: false
      $.ajax({
        type: 'POST',
        url: '/register',
        data: {
          peer_id: peer.id,
          name: document.getElementById("name").value,
          age: document.getElementById("age").value,
          hobbies: document.getElementById("hobbies").value,
          gender: document.getElementById("gender").value,
          sexual: document.getElementById("sexual").value,
          on_connect: false,
          game_mode: game_menu
        },
        success: function(msg) {
          //alert('Data Saved: ' + msg);
          console.log("unique_id "+msg);
          db_unique_id = msg;
        },
        error:function(xhr, ajaxOptions, thrownError){
          alert("register2 "+xhr.status);
          alert("register2 "+thrownError);
        }
      });
    }
  }



  function submit() {

    //update UI function future
    $("#submit_user").hide();


    //choose game
    game_menu = 0;

    $("#games_choose").off().click( function () {

      pair(game_menu);
      $("#games_choose").hide();
      $("#cancel_wait").show();
    });

  }



  $(document).ready(function () {
    //cancel the pairing process

    $("#cancel_wait").off().click(function(){
      //update UI
      $("#submit_user").show();
      $("#games_choose").show();
      $("#cancel_wait").hide();

      //ajax delete the user data if exist
      if(db_unique_id != " ")
      {
        $.ajax({
          type: 'POST',
          url: '/delete',
          data: {
            _id: db_unique_id,
          }, success: function(msg) {
            console.log("delete "+msg);

          }, error:function(xhr, ajaxOptions, thrownError){
            alert("update "+xhr.status);
            alert("update "+thrownError);
          }, complete: function () {
            //go to the user setting view (updateUI)
            db_unique_id = " ";
          }
        });
      }

    });
  });


  peer.on('connection', function(conn) {
    var destinated_id = " ";

    //ajax update the on_connect status to true
    $.ajax({
      type: 'POST',
      url: '/update',
      data: {
        _id: db_unique_id,
        on_connect: true,
        game_mode: game_menu
      }
    });


    //post to games page and redirect and hold to be connect at games page
    document.getElementById("my_id").value = peer.id;
    document.getElementById("destinated_id").value = destinated_id;
    document.getElementById("host").value = false;
    $("#connect_form").submit();

  });


  peer.on('close', function() {
    //alert("close");


    $.ajax({
      type: 'POST',
      url: '/clear',
      data: {
        my_peer_id: peer.id,
      },
      success: function (msg) {
        console.log(msg);
      },
      error:function(xhr, ajaxOptions, thrownError){
        alert("clear "+xhr.status);
        alert("clear "+thrownError);
      }
    });

  });

  peer.on('error', function(err) {
    alert("error");

  });

  //be fired when someone close the web page
  window.onunload = function () {
    peer.destroy();
  }

</script>

<div class="container">

  <header>

    <div class="header">

    </div>

    <div class="footer">
      <p class="footstyle">&copy; 2016 All Right Reserved. </p>
    </div>

  </header>


  <div class="sidebody">

    <!-- the form is for send data to games page -->
    <form id = "connect_form" action="/games" method="POST">
      <input type="hidden" id="my_id" name="my_id" value=" " />
      <input type="hidden" id="destinated_id" name="destinated_id" value=" " />
      <input type="hidden" id="host" name="host" value=" " />
    </form>




    <!-- //user's data setting -->
    <input id="name" name="name" type="text" value='<%= name %>'>
    <input id="age" name="age" type="text" value='<%= age %>'>
    <input id="hobbies" name="hobbies" type="text" value='<%= hobbies %>'>
    <input id="gender" name="gender" type="text" value='<%= gender %>'>
    <input id="sexual" name="sexual" type="text" value='<%= sexual %>'>
    <button id="submit_user" name="submit_user" onclick="submit()" > Submit </button><br>

    <!-- //game's menu choose  -->
    <button id="games_choose" name="games_choose"> Pair </button><br>

    <button id="cancel_wait" name="cancel_wait"> Cancel the Pairing </button><br>

    <input id="data" name="data" type="text">
    <button id="send_data" > Send </button>

  </div>


</div>


</body>
</html>
