<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title><%= title %></title>
  <!-- font from google -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
  <!-- bootstrap css -->

  <link rel=stylesheet type="text/css" href="/css/bootstrap.min.css">
  <link rel=stylesheet type="text/css" href="/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/peer.js"></script>
  <!-- bootstrap javascript -->
  <script src="/js/bootstrap.min.js"></script>


</head>


<body>

  <script src="/js/peer_client_index.js"></script>

  <!-- the form is for send data to games page -->
  <form id = "connect_form" action="/games" method="POST">
    <input type="hidden" id="my_id" name="my_id"  />
    <input type="hidden" id="destinated_id" name="destinated_id" />
    <input type="hidden" id="host" name="host" />
    <input type="hidden" id="game_mode" name="game_mode" />
  </form>



  <canvas id="circle"  width=600px height= 450px ></canvas>
  <script>
    var canvas = document.getElementById('circle');
    var context = canvas.getContext('2d');
    var imageObj = new Image();

    imageObj.onload = function() {
      context.drawImage(imageObj,-150,-280,700,700);
    };
    imageObj.src = '/img/circle.png';

    /*
    setInterval(function () {
      context.clearRect(0,0,canvas.width,canvas.height);
      context.translate(canvas.width/2,canvas.height/2);
      context.rotate(10 * Math.PI / 180);
      context.drawImage(imageObj, -imageObj.width/2,-imageObj.width/2);
      context.restore();
    },2000);
*/



  </script>


  <p id="logo">meette</p>
  <p id="logo2">羅 密 歐 與 茱 麗 葉</p>

  <img id="top_dots" src="/img/top_dots.png" >




  <div class="container menu_form" role="main">
    <!-- //user's data setting -->
    <form class="form-horizontal" role="form" >

      <div class="form-group form-group-lg form_div">
          <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2  control-label" for="male female">Gender</label>
          <div class="form_pic col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2 col-md-offset-1 col-sm-offset-1 " >
            <a onclick="choosegender('1')" href="javascript:void(0);" title="male" >
              <img id="gender_male_pic" src="/img/male.png" alt="male" width="100px" height="auto" >
            </a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 " >
            <a onclick="choosegender('0')" href="javascript:void(0);" title="female">
              <img id="gender_female_pic" src="/img/female.png" alt="male" width="100px" height="auto">
            </a>
          </div>
      </div>


      <div class="form-group form-group-lg form_div">
        <label class="col-sm-2 control-label" for="name">Name</label>
        <div class="col-sm-7 col-sm-offset-2" >
          <input class="form-control" id="name" name="name" type="text" value='<%= name %>'>
        </div>
      </div>

      <div class="form-group form-group-lg form_div">
        <label class="col-sm-2 control-label" for="age">Age</label>
        <div class="col-sm-7 col-sm-offset-2">
          <input class="form-control center-block" id="age" name="age" type="text" value='<%= age %>'>
        </div>
      </div>

      <div class="form-group form-group-lg form_div">
        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2  control-label" for="male female">Interest</label>
        <div class=" form_pic col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2 col-md-offset-1 col-sm-offset-1" >
          <a onclick="chooseinterest('1')" href="javascript:void(0);" title="male">
            <img id="sexual_male_pic" src="/img/male.png" alt="male" width="100px" height="auto">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 " >
          <a onclick="chooseinterest('0')" href="javascript:void(0);" title="female">
            <img id="sexual_female_pic" src="/img/female.png" alt="male" width="100px" height="auto">
          </a>
        </div>
      </div>



    </form>

    <button class="btn btn-success center-block" id="submit_user" name="submit_user" onclick="submit()" > Submit </button>



    <input type="hidden" class="form-control center-block" id="hobbies" name="hobbies" type="text" value='<%= hobbies %>'>
    <input type="hidden" class="form-control center-block" id="gender" name="gender" type="text" value='<%= gender %>'>
    <input type="hidden" class="form-control center-block" id="sexual" name="sexual" type="text" value='<%= sexual %>'>


    <!-- //game's menu choose  -->
    <button class="spec_button center-block" id="games_choose" name="games_choose"> Pair </button>

    <button class="spec_button center-block" id="cancel_wait" name="cancel_wait"> Cancel </button>

  </div>

  <p id="slogan">
    meette <br>
    with <br>
    your <br>
    destiny
  </p>


  <img id="bottom_dots" src="/img/bottom_dots.png" >









</body>
</html>
